.container {
  max-width: 1141px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header-contact {
  background: #303030;
  color: #ffffff;
}

.header-contact-ctn {
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-contact-tel {
  display: flex;
}

.header-contact-tel-phone {
  display: flex;
  padding-right: 30px;
  font-size: 14px;
  color: #d3d2d2;
}

.header-contact-tel-phone a {
  color: #d3d2d2;
}

.header-contact-tel-phone:last-child {
  padding-right: 0;
}

.header-menu {
  padding: 28px 0 28px 0;
}

.header-menu-mn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-menu-logo {
  font-size: 30px;
  color: #212020;
  text-transform: uppercase;
}

.header-menu-logo span {
  color: #ffc222;
}

.header-menu-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.header-menu-nav li {
  padding-right: 40px;
}

.header-menu-nav li:last-child {
  padding-right: 0;
}

.header-menu-nav li a {
  font-size: 16px;
  color: #323232;
}

.header-menu-nav li a:hover {
  border: 1px solid #ffc222;
  padding: 10px;
}

.contact {
  width: 20px;
  height: 20px;
  padding-right: 20px;
}

.contact-n {
  width: 20px;
  height: 20px;
  padding-right: 15px;
}

.button {
  width: 262px;
  height: 45px;
  background-color: #ffc222;
  border: none;
  font-size: 16px;
  color: #1b1b1b;
}

.button:hover {
  background-color: #f3c839;
  color: #ffffff;
}

.button:hover .contact-n {
  padding-right: 0;
  width: 0;
}

.button:hover img {
  display: none;
}

.button-n {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main {
  position: relative;
}

.main-block {
  position: absolute;
  top: 129px;
  z-index: 2;
  max-width: 663px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-block-title {
  font-size: 30px;
  letter-spacing: 1.5px;
  color: #ffffff;
  padding-bottom: 24px;
}

.main-block-subtitle {
  font-size: 18px;
  color: #d3d2d2;
  line-height: 24px;
  padding-bottom: 40px;
}

.main .button-main {
  width: 179px;
  color: #ffffff;
  padding-left: 24px;
}

.production-slaider img {
  height: 497px;
}

.block-m {
  max-width: 663px;
  margin: auto;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
}

input:focus, button:focus {
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.service {
  padding: 61px 0 34px 0;
}

.service-block {
  position: relative;
}

.service-block1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-block1::after {
  position: absolute;
  content: '';
  width: 106px;
  height: 2px;
  background-color: #ffc222;
  top: 3%;
}

.service-block1-box {
  padding-left: 151px;
}

.service-block1-box-title {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 14px;
  color: #212020;
}

.service-block1-box-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  max-width: 379px;
  color: #5e5e5e;
  padding-bottom: 67px;
}

.service-block2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.service-block2-box {
  text-align: center;
  box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
  background: #f9f9f9;
  width: 360px;
  height: 363px;
  padding-bottom: 39px;
}

.service-block2-box img {
  padding: 24px 0 27px 0;
  height: 60px;
}

.service-block2-box-title {
  font-size: 18px;
  font-weight: 600;
  color: #212020;
  padding-bottom: 28px;
}

.service-block2-box-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: #5e5e5e;
  line-height: 18px;
  max-width: 285px;
  margin: auto;
  height: 68px;
  padding-bottom: 85px;
}

.service-block2-box a {
  color: #000000;
  text-decoration: underline;
  padding-right: 65px;
}

.service-block2-box a:hover {
  font-weight: 600;
}

.service-block2-box-nav {
  max-width: 285px;
  margin: auto;
  display: flex;
  align-items: center;
}

.button-sr1 {
  width: 223px;
  height: 40px;
  border: 3px solid #e6e6e6;
  background: none;
  color: #373636;
  font-size: 14px;
}

.button-sr1:hover {
  color: #ffffff;
  background: #373636;
}

.button-sr {
  width: 148px;
  height: 40px;
  border: 2px solid #ffc222;
  background: none;
  font-weight: 600;
  padding: 0;
  padding-left: 30px;
  color: #373636;
}

.button-sr img {
  padding: 0;
  height: 36px;
}

.button-sr:hover {
  background: #ffc222;
  color: #ffffff;
  padding-left: 0;
  display: block;
}

.button-sr:hover img {
  display: none;
}

.b {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.company {
  background: url(../img/company/bg.jpg) 39% no-repeat;
  background-size: cover;
  z-index: 2;
}

.company-block {
  position: relative;
  z-index: 5;
}

.company-title {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  padding-top: 37px;
  padding-bottom: 34px;
}

.company-subtitle {
  font-size: 14px;
  color: #d3d2d2;
  max-width: 537px;
  line-height: 24px;
  padding-bottom: 37px;
}

.dark-bg {
  position: relative;
  z-index: 1;
}

.dark-bg::before {
  content: '';
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.button-com {
  width: 159px;
  height: 40px;
  border: 1px solid #ffc222;
  color: #ffffff;
  background: none;
  margin-bottom: 47px;
}

.button-com:hover {
  background: #ffc222;
}

.consultation {
  position: relative;
}

.consultation-block::after {
  position: absolute;
  content: '';
  width: 225px;
  height: 459px;
  background-image: url(../img/consultation/of.jpg);
  background-repeat: no-repeat;
  top: 22%;
  right: 0;
}

.consultation-block2-box {
  display: flex;
  flex-wrap: wrap;
}

.consultation-block2-box input {
  display: block;
}

.consultation-block2 span {
  font-size: 14px;
}

.consultation-block2-box1 {
  padding-right: 28px;
}

.consultation-block2-box2 {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  text-align: right;
  padding-right: 0;
  flex: 0.7;
}

.block-input1 {
  width: 100%;
}

.input-1 {
  margin-top: 9px;
  margin-bottom: 4px;
  width: 260px;
  height: 40px;
  display: block;
}

.input-2 {
  width: 100%;
  height: 195px;
  margin-top: 9px;
  margin-bottom: 33px;
}

.button-con {
  font-size: 14px;
  color: #282828;
  width: 211px;
  height: 40px;
  background: none;
  padding-left: 66px;
}

.advantages {
  background-image: url(../img/advantages/ad.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 55px 0 65px 0;
}

.advantages-block {
  display: flex;
  justify-content: space-between;
}

.advantages-block-box {
  text-align: center;
  width: 325px;
}

.advantages-block-box img {
  padding-bottom: 28px;
}

.advantages-block-box-title {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  padding-bottom: 23px;
}

.advantages-block-box-subtitle {
  font-size: 14px;
  color: #d3d2d2;
  line-height: 24px;
}

.news {
  padding-bottom: 109px;
  background: #f9f9f9;
}

.news-slider-box {
  position: relative;
  width: 554px;
  height: 341px;
  background: #ffffff;
  margin: 0 15px 0 15px;
}

.news-slider-box::after {
  content: url(../img/news/icon-2.png);
  position: absolute;
  top: 0;
  left: 69px;
}

.news-slider-box1 {
  position: relative;
  background: none;
  width: 261px;
  margin: 0 15px 0 15px;
}

.news-slider-box1::after {
  content: url(../img/news/icon-1.png);
  position: absolute;
  top: 0;
  left: 10px;
}

.news-slider-box-block {
  padding: 62px 0 47px 70px;
  margin: 0 15px 0 15px;
}

.news-slider-box img {
  padding-bottom: 20px;
}

.news-slider-title {
  font-size: 18px;
  color: #242424;
  padding-bottom: 19px;
  font-weight: 600;
}

.news-slider-title1 {
  font-size: 16px;
  padding-bottom: 17px;
  font-weight: 600;
}

.news-slider-subtitle {
  font-size: 14px;
  color: #5e5e5e;
}

.news-slider-up {
  padding-top: 37px;
  font-size: 14px;
  color: #212020;
}

.slider-arrow {
  position: absolute;
  top: 65%;
  height: 100%;
  width: 40px;
  z-index: 1;
}

.slider-arrow-left {
  background: url(../img/news/2.png) center no-repeat;
  left: 44%;
}

.slider-arrow-left:hover {
  background: url(../img/news/31.png) center no-repeat;
}

.slider-arrow-right {
  background: url(../img/news/21.png) center no-repeat;
  right: 44%;
}

.slider-arrow-right:hover {
  background: url(../img/news/3.png) center no-repeat;
}

.contacts {
  background: #595959;
  padding: 29px 0 37px 0;
}

.contacts-title {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  padding-bottom: 20px;
}

.contacts-subtitle {
  font-size: 14px;
  color: #d3d2d2;
  padding-bottom: 23px;
  max-width: 348px;
  margin: auto;
}

.contacts-ct-tell {
  padding-top: 23px;
}

.contacts-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts .contact {
  width: 15px;
  height: 15px;
}

.footer {
  font-size: 12px;
  text-align: center;
  background-color: #303030;
  padding: 16px 0 16px 0;
  color: #ffffff;
}

.feedback {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: rgba(0, 0, 0, 0.4);
}

.feedback-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback-block-input {
  padding-bottom: 12px;
}

.feedback-block-input span {
  font-size: 14px;
}

.feedback-close {
  position: absolute;
  right: -25px;
  top: -35px;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

.feedback input {
  display: block;
  width: 211px;
  height: 30px;
  margin-bottom: 4px;
  text-align: center;
}

.feedback .mes {
  height: 50px;
}

.button-feed {
  margin-top: 10px;
}

.popup {
  position: fixed;
  z-index: 10;
  margin: auto;
  top: 20%;
  left: 50%;
  width: 280px;
  height: 360px;
  border: 2px solid #a7a4a4;
  background: white;
  padding: 20px;
  padding-right: 28px;
  transform: translateX(-50%);
}

.thanks {
  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 6;
  background: rgba(0, 0, 0, 0.4);
}

.thanks-popup {
  position: fixed;
  top: 20%;
  left: 50%;
  width: 200px;
  border: 2px solid #a7a4a4;
  background: white;
  text-align: center;
  padding: 20px 50px;
  z-index: 5;
  font-size: 18px;
  transform: translateX(-50%);
}

.thanks-popup-close {
  position: absolute;
  right: -25px;
  top: -35px;
  font-size: 35px;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

@media (max-width: 1120px) {
  .consultation-block::after {
    display: none;
  }
  .consultation-block2-box {
    justify-content: center;
  }
  .service-block2 {
    justify-content: center;
    max-width: 400px;
    margin: auto;
  }
  .service-block2-box {
    margin-bottom: 62px;
  }
}

@media (max-width: 966px) {
  .advantages-block {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin: auto;
  }
  .advantages-block-box {
    margin-bottom: 65px;
  }
}

@media (max-width: 999px) {
  .contacts-block {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .contacts-block-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contacts-ct {
    margin-bottom: 30px;
  }
  .contacts-ct-tell {
    justify-content: center;
    padding-right: 0;
  }
}

@media (max-width: 816px) {
  .slider-arrow-left {
    left: 40%;
  }
  .slider-arrow-right {
    right: 40%;
  }
}

@media (max-width: 793px) {
  .service-block1 {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
  .service-block1::after {
    top: 2.5%;
  }
  .service-block1-box {
    padding-left: 0;
  }
  .service-block1-box-title {
    padding-bottom: 36px;
  }
  .service-block1-box-subtitle {
    padding-bottom: 36px;
  }
  .button-sr1 {
    margin-bottom: 70px;
  }
}

@media (max-width: 694px) {
  .header {
    display: flex;
    flex-direction: column;
  }
  .header-contact {
    order: 2;
  }
  .header-contact-ctn {
    display: flex;
    flex-direction: column;
    padding: 30px 0 30px;
    height: 100%;
  }
  .header-contact-tel {
    display: block;
  }
  .header-contact-tel-phone {
    padding-right: 0;
    padding-bottom: 25px;
  }
  .main {
    text-align: center;
  }
  .main-block-title {
    font-size: 25px;
  }
  .main-block-subtitle {
    font-size: 16px;
    padding: 0 10px 40px 10px;
  }
  .service-block1 {
    margin-bottom: 0;
  }
  .company-block {
    text-align: center;
  }
  .company-subtitle {
    max-width: 537px;
    margin: auto;
  }
}

@media (max-width: 624px) {
  .header-menu-mn {
    justify-content: center;
  }
  .header-menu-logo {
    padding-bottom: 20px;
  }
  .advantages {
    padding-bottom: 0;
  }
}

@media (max-width: 560px) {
  .consultation-block2-box {
    justify-content: center;
  }
  .consultation-block2-box2 {
    text-align: start;
    justify-content: center;
    min-width: 264px;
  }
  .slider-arrow-left {
    left: 32%;
  }
  .slider-arrow-right {
    right: 32%;
  }
}

@media (max-width: 504px) {
  .consultation-block2-box1 {
    padding-right: 0;
  }
}

@media (max-width: 475px) {
  .header-menu-nav ul {
    padding-left: 0;
  }
  .header-menu-nav li {
    padding-right: 20px;
  }
  .header-menu-logo {
    text-align: center;
    width: 300px;
    margin: auto;
  }
}

@media (max-width: 380px) {
  .header-menu-nav ul {
    flex-direction: column;
    justify-content: center;
  }
  .header-menu-nav li {
    text-align: center;
    padding-right: 0;
    padding-bottom: 20px;
  }
  .service-block2-box-nav {
    justify-content: center;
  }
  .service-block2-box a {
    padding-right: 30px;
  }
}
/*# sourceMappingURL=style.css.map */